html {
	background: grey;
}

.main .company-name {
	padding-top: 5%;
	font-size: 50px;
	text-align: center;
}

.main .company-name a {
	text-decoration: none;
	white-space: nowrap;
	color: white;
}

.main .signin-options {
	padding-top: 4%;
	padding-bottom: 4%;
	font-size: 30px;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 20%;
	margin-bottom: 20%;
	display:  block;
	text-align: center;
	background-color: black;
}

.main .signin-options a {
	vertical-align: middle;
	text-decoration: none;
	white-space: nowrape;
	color: white;
}